<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário</title>
    <script src="https://cdn.tailwindcss.com"></script>

</head>
<body class="bg-purple-200 p-32">
    <header>
        <h1 class="text-3xl text-center font-extrabold text-gray-800 mb-8">Cadastro do Aluno</h1>
    </header>
    <main class="my-16">
        <form method="post" class="flex flex-col gap-8 justify-center items-stretch m-auto">
            {% csrf_token %}
            <div class="flex gap-4 items-center justify-center font-bold">
                <label for="{{form.nome.id_for_label}}">Nome:</label>
                {{form.nome}} 
            </div>

            <div class="flex gap-4 items-center justify-center font-bold">
                <label for="{{form.cpf.id_for_label}}">Endereço:</label>
                {{form.endereço}}
            </div>

            <div class="flex gap-4 items-center justify-center font-bold">
                <label for="{{form.email.id_for_label}}">Cidade:</label>
                {{form.cidade}}
            </div>

            <div class="flex gap-4 items-center justify-center font-bold">
                <label for="{{form.matricula.id_for_label}}">Email:</label>
                {{form.email}}
            </div>

            <div class="flex gap-4 items-center justify-center font-bold">
                <label for="{{form.matricula.id_for_label}}">Curso:</label>
                {{form.curso}}
            </div>

            <div class="flex justify-center">
                <input type="submit" value="Cadastrar" class="p-3 bg-purple-700 text-white rounded-md">
            </div>
        </form>

        <div class="py-8 px-4 max-w-6xl mx-auto">
            <h2 class="text-3xl font-extrabold text-gray-800 mb-8">Listagem de alunos cadastrados:</h2>
            <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
                {% for aluno in alunos %}
                    <div class="bg-white border border-gray-300 rounded-lg shadow-lg p-6 transition-transform transform hover:scale-105">
                        <h3 class="text-xl font-semibold text-gray-900">{{ aluno.nome }}</h3>
                    </div>
                {% endfor %}
            </div>
        </div>
    </main>
</body>
</html>